<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planner</title>
<<<<<<< HEAD
  {{!-- May have to change href here --}}
  <link rel="stylesheet" href="/css/jass.css">
=======

  <link rel="stylesheet" href="/css/jass.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/604581e78a.js" crossorigin="anonymous"></script>

>>>>>>> 877c80a3a6547a5728282f8e8445724e6197409e
  <style>table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}</style>
</head>

<body>

  <nav class="navbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fas fa-home fa-3x"></i>
                    <span class="link-text">Home</span>
                </a>
            </li>
                
            <li class="nav-item">
                <a href="/dashboard" class="nav-link">
                    <i class="fas fa-tachometer-alt fa-3x"></i>
                    <span class="link-text">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/mealplan" class="nav-link">
                    <i class="fas fa-calendar-alt fa-3x"></i>
                    <span class="link-text">Planning View</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/meals" class="nav-link">
                    <i class="fas fa-utensils fa-3x"></i>
                    <span class="link-text">Meals</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/shopping" class="nav-link">
                    <i class="far fa-list-alt fa-3x"></i>
                    <span class="link-text">Shopping List</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/cupboard" class="nav-link">
                    <i class="fas fa-drumstick-bite fa-3x"></i>
                    <span class="link-text">Cupboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/login" class="nav-link">
                    <i class="fas fa-sign-in-alt fa-3x"></i>
                    <span class="link-text">Login</span>
                </a>
            </li>

        </ul>
    </nav>

  <header class="display-flex justify-space-around align-center p-2" style= "background-color: black;">
   
    <h1 class="" style="color: white;">Meal Planner</h1>

  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}

  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{!-- {{#if logged_in}} --}}
<<<<<<< HEAD
  <script src="/js/render.js"></script>
=======
  {{!-- <script src="/js/logout.js"></script> --}}
>>>>>>> 877c80a3a6547a5728282f8e8445724e6197409e
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  {{!-- {{/if}} --}}

</body>

</html>
