<div>
<h1 class="cupTitle">Cupboard</h1>

<div class="cupboard">

  <div class="cupboarditems" style="width: 100%; ">
    
    <h2 >Input Cupboard Items</h2>
    <form>
      <label for="item">Item</label><br>
      <input id="cupItemName" type="text"><br>
      <label for="quantity">Quantity</label><br>
      <input id="cupItemQuantity" type="number"><br>
      <label for="Unit">Measurement</label><br>
      <input id="cupItemUOM" type="text"><br>
    
      <input type="checkbox" id="Refrig" name="Refrig" value="Refrig" checked>
      <label for="cupbds">Refrigerate</label>
    </form>
    <br>
    <input id="subCup" name='subCup' type="button" value="Submit" class="subCup">
    <br>
  </div>
    <div class="Refrig">
      <h3> Refrigerated Items:</h3>
      <br>
      <table style="width: 100%;">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit of Measure</th>
        </tr>
        {{#each Refrigs as |Refrig|}}
        <td>{{>refrig-details Refrig=Refrig}}</td>
        {{/each}}
      </table>
    </div>

    <div class="Drygoods">
      <h3>Dry Good Items:</h3>
      <br>
      <table style="width: 100%;">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit of Measure</th>
        </tr>
        {{#each Drys as |Drygood|}}
        <td>{{>drygood-details Drygood=Drygood}}</td>
        {{/each}}
      </table>
    </div>

  
  
</div>

</div>

<script src="/js/render.js"></script>
