<div class="homepage">
    <h1 class="welcome">🍲Welcome to your Meal Planner</h1>

    <p>
        Are you short on time? Tired of seeing your food go to waste? Want to save some money and keep track of what you have on
        hand? <br>
        Well this application should do the trick for you. You can plan your meals ahead of time, see what you have and
        only buy what you actually need.
    </p>

</div>