{{#each placeholders as |placeholder|}}
<div class="meal-card">
  <div class="meal-card-header">
    {{placeholder.name}}
  </div>
  <div class="card-body">
    <p>
      Instructions:
      {{placeholder.instructions}}
    </p>
    <p>
      Meal created by:
      {{placeholder.user_id}}
    </p>
  </div>
</div>
{{/each}}