<div class="meal-card">
  <div class="meal-card-header">
    {{name}}
  </div>
  <div class="card-body">
    <p>
      Instructions:
      {{instructions}}
    </p>
    <p>
      Meal created by:
      {{user_id}}
    </p>
  </div>
</div>