{{#each meals as |meal|}}
<div class="meal-card">
  <div class="meal-card-header">
    {{meal.name}}
  </div>
  <div class="card-body">
    <p>
      Instructions:
      {{meal.instructions}}
    </p>
    <p>
      Meal created by:
      {{meal.user_id}}
    </p>
  </div>
</div>
{{/each}}