<div>
  <body><h1 class="meal-head">Current Meals</h1></body>
  
<form class="meal-form mb-2">
  <h1 class="meal-head">Create a new meal</h1>
  <div class="is-flex">
    <label class="mealName mr-2">Name of meal: </label><br>
    <input type="text" id="mealName">

    <label class="instructions mr-2">Instructions: </label><br>
    <input type="text" id="instructions">

    <br>
    <button id="submit" class="submit">Submit</button>
  </div>
</form>

  </div>
{{#each meals as |meal|}}
<div class="meal-card">
  <a href="/meals/{{meal.id}}">
    <div class="meal-card-header">
      {{meal.name}}
    </div>
  </a>
  <div class="card-body">
    <p>
      Instructions:
      {{meal.instructions}}
    </p>
  </div>
</div>
{{/each}}


<form class="meal-form">
  <div class="meal-card">
  <h1 class="meal-head">Create a new meal</h1>
  <br><br>
  <input placeholder="Name of Meal"type="text" id="mealName">

  <input placeholder="Instructions" type="text" id="instructions">

  <br>
  <button id="submit submitbtn" class="submit submitbtn">Submit</button>
  </div>
</form>

<script src="/js/meal.js"></>