<div class="planningMeals">
    <h1>Planning my meals</h1>
    <p>Here you can plan your dinner for the week</p>

    <form>

        {{!-- radio button to choose which day user wants to add the meal  --}}
        <label class="Day">What day will this meal be eaten?</label><br>
        <input type="radio" id="monday">
        <label for="monday">Monday</label><br>
        <input type="radio" id="tuesday">
        <label for="tuesday">Tuesday</label><br>
        <input type="radio" id="wednesday">
        <label for="wednesday">Wednesday</label><br>
        <input type="radio" id="thursday">
        <label for="thursday">Thursday</label><br>
        <input type="radio" id="friday">
        <label for="friday">Friday</label><br>
        <input type="radio" id="saturday">
        <label for="saturday">Saturday</label><br>
        <input type="radio" id="sunday">
        <label for="sunday">Sunday</label><br>

        <label class="mealName">What do you want for dinner?</label><br>
        <input type="text" id="mealName">

        <label class="ingredient">What ingredients do you need?</label><br>
        <input type="text" id="ingredoients">

        <label class="instructions">Instructions?</label><br>
        <input type="text" id="instructions">

        <br>
        <button id="submitBtn" class="submitBtn">Add to plan</button>
    </form>

</div>
