:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #f8f7fb;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 2.5rem 2rem 2.5rem .75rem;
}

.fas,
.far {
    color: #ce4141;
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}


/* Homepage */

.homepage {
    border-radius: 20px;
    border-color: rgba(59, 0, 170, 0.616);
    border-style: solid;
    padding: 30px;
    border-width: 10px;
}

.homepage p {
    font-size: 40px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

.welcome {
    font-size: 100px;
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
}


/* planning View */

.planViewTitle,
.meal-head {
    font-size: 50px;
    font-family: 'Asap Condensed', sans-serif;
    padding: 30px;
}

.planningView,
.meal-card {
    border-radius: 20px;
    border-color: rgba(253, 124, 4, 0.507);
    border-style: solid;
    padding: 30px;
    margin-bottom: 20px;
    border-width: 10px;
}

.cupboarditems {
    padding-right: 690px;
}

.planningView h3,
.subtitle,
.planMealView {
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.planMealView {
    color: red
}

#planDirect {
    padding: 0px 30px 30px 30px;
    font-size: 20px;
    font-family: 'Asap Condensed', sans-serif;
}


/* login */

.loginPage {
    border-radius: 20px;
    border-color: rgba(7, 5, 119, 0.555);
    border-style: solid;
    padding: 30px;
    border-width: 10px;
}

.loginPage h2 {
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}

.Instructions {
    text-decoration: none;
}


/* singleMealView */

.singleMealOpt {
    border-radius: 20px;
    border-color: rgba(18, 14, 247, 0.993);
    border-style: solid;
    padding: 30px;
    border-width: 10px;
}

.singleMealtitle {
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
}

.singleMealOpt h3,
.label {
    font-size: 20px;
    font-family: 'Asap Condensed', sans-serif;
}


/* cupboardview */

.cupTitle {
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    padding: 20px;
}

.cupboard {
    display: flex;
    flex-direction: column;
}

.cupboard h2 {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
    text-align: center;
}

.cupboard form {
    text-align: center;
}

.subCup {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.Refrig,
.Drygoods,
.cupboarditems {
    border-radius: 20px;
    border-color: rgba(253, 124, 4, 0.507);
    border-style: solid;
    padding: 30px;
    margin-bottom: 20px;
    border-width: 10px;
}


/* media query */

@media screen and (min-width: 701px) {
    .navbar:hover .link-text {
        display: block;
    }
    .navbar {
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 600ms ease;
    }
    .navbar:hover {
        width: 16rem;
    }
}

@media screen and (max-width: 700px) {
    /* homepage */
    .homepage {
        border-radius: 10px;
        border-color: rgba(29, 250, 103, 0.445);
        border-style: solid;
        padding: 15px;
        border-width: 5px;
    }
    .homepage p {
        font-size: 20px;
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
    }
    .welcome {
        font-size: 50px;
        font-family: 'Asap Condensed', sans-serif;
        text-align: center;
    }
    /* planningView */
    .planViewTitle {
        font-size: 25px;
        font-family: 'Asap Condensed', sans-serif;
        padding: 15px;
    }
    .planningView {
        border-radius: 20px;
        border-color: rgba(253, 195, 4, 0.575);
        border-style: solid;
        padding: 15px;
        border-width: 5px;
    }
    .planningView h3,
    .subtitle,
    .planMealView {
        font-weight: bold;
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px;
    }
    .planMealView {
        color: red
    }
    #planDirect {
        padding: 0px 15px 15px 15px;
        font-size: 10px;
        font-family: 'Asap Condensed', sans-serif;
    }
    .navbar {
        width: 100vw;
        height: 5rem;
        position: fixed;
        bottom: 0;
        background-color: var(--bg-primary);
    }
    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    /*List of current meals and Create Meal View*/
    .meal-head {
        font-weight: bold;
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px;
    }
    ;
    .meal-card,
    .meal-form {
        display: flex;
        border-radius: 20px;
        border-color: rgba(253, 124, 4, 0.507);
        border-style: solid;
        padding: 30px;
        padding-bottom: 100px;
        margin-bottom: 100px;
        border-width: 10px;
    }
    /* login */
    .loginPage {
        border-radius: 10px;
        border-color: rgba(255, 5, 5, 0.335);
        border-style: solid;
        padding: 15px;
        border-width: 5px;
    }
    .loginPage h2 {
        font-size: 25px;
        font-family: 'Rajdhani', sans-serif;
    }
    /* singleMealView */
    .singleMealOpt {
        border-radius: 10px;
        border-color: rgba(108, 246, 73, 0.993);
        border-style: solid;
        padding: 15px;
        border-width: 5px;
    }
    .singleMealtitle {
        font-size: 25px;
        font-family: 'Rajdhani', sans-serif;
        padding: 10px;
    }
    .singleMealOpt h3,
    .label {
        font-size: 10px;
        font-family: 'Asap Condensed', sans-serif;
    }
    .singleMealOptBtn {
        height: 50%;
        width: 50%;
        font-size: 50%;
        color: red;
    }
    /* cupboardview */
    .cupboard {
        flex-direction: column;
    }
    .cupboard h2 {
        font-size: 25px;
        font-family: 'Rajdhani', sans-serif;
        padding: 20px;
    }
    .cupboarditems form {
        text-align: center;
    }
    .Refrig,
    .Drygoods,
    .cupboarditems {
        border-radius: 10px;
        border-color: rgba(255, 3, 3, 0.507);
        border-style: solid;
        padding: 15px;
        margin-bottom: 10px;
        border-width: 5px;
    }
}